@model AuthenticationLibrary.Model.Department
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Department Information</h2>
@using (Html.BeginForm())
{
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Department Name</td>
            <td>Head Manager</td>
            <td>Gender</td>
            <td>Is Active</td>
        </tr>
        <tr>
            <td>
                @Html.EditorFor(x => x.Did, new { htmlAttributes = new { @readonly = "readonly" } })
                @*@Html.EditorFor(x => x.Did)*@
            </td>
            <td>
                @Html.EditorFor(x => x.Dname)
            </td>
            <td>
                @Html.EditorFor(x => x.HOB)
            </td>
            <td>
                @Html.EditorFor(x => x.Gender)
            </td>
            <td>
                @Html.EditorFor(x => x.Active)
            </td>
        </tr>
        <tr>
            <td colspan="5">
                @Html.TextBox("btnEdit", "Save", new { type = "submit" })
            </td>
        </tr>
    </table>
}