@model AuthenticationLibrary.Model.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EGen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EGen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Dpt.Dname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Dpt.Dname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Eid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
